<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>G1KProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECFF0EE41DC9864200A976AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFF0EFD1DC9864200A976AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECFF0F081DC9864200A976AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
